/* Your CSS code here: */

* {
    border: 1px solid black;
}

body {
    margin: 0px;
}

.contact-card {
    display: flex;
}

.contact-card img {
    
}

.friends-filter {
    text-align: center;
}

.left {
    width: 280px;
}

.right {
    width: 620px;
}



.main {
    width: 900px;
    margin: auto;
    display: flex;
    background-color: pink; 
}